
body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}


.App {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.hero{
  width:250px;
  border: 1px solid #000;
  margin-top:15px;
  text-align: center;
  padding-bottom: 25px;
}

.hero img{
  width:100%;
}

.hero .btn{
  width:80%;
  padding:12px;
  border:none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
  font-size:14px;
  font-weight: 300;
}

.btn-red{
  background-color: rgb(172, 16, 16);
  color:#fff;
}

.btn-green{
  background-color:rgb(24, 99, 24);
  color:#fff;
}